<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>01_姓名案例_插值语法实现</title>
    <script src="../js/vue.js"></script>
    
</head>
<body>
    <div id="root">
        姓:<input type="text" v-model="firstName"><br/><br/>
        名:<input type="text" v-model="lastName"><br/><br/>
        <span>姓名:{{fullName()}}</span>
    </div>
    <script type="text/javascript">
       //阻止Vue 在启动时生成 生产提示
       Vue.config.productionTip = false;   
        
       const x = new Vue({
           el:"#root",
           data:{
               firstName:"张",
               lastName:"三"
           },
           methods:{
            fullName(){
                return this.firstName + '-' + this.lastName;
            } 
           }
       })
    
    </script>
</body>
</html>